.banner{
    text-align: center;
    color: white;
      padding: 150px 0px;
    background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url("images/chicha_en_groupe.jpg");
    background-size: cover;
      background-position: center;
  }
  .banner h1 {
    font-size: 50px;
  }
  .banner p {
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 40px;
  }

a.try-button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
a.try-button:hover{
  color:#000000;
  background-color:#FFFFFF;
  text-decoration: none;
}

.description-card {
    background-color: white;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50,50,93,.11);
    padding: 16px;
    margin: 16px 0px;
  }
  .description-card:hover {
    background-color: rgb(248, 225, 225);
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50,50,93,.11);
    padding: 16px;
    margin: 16px 0px;
  }
  .description-card img {
    margin-bottom: 20px;
  }

.footer {
background-color: black;
padding: 24px;
color: white;
}
  .footer a {
  color: white;
  font-size: 32px;
  }

.list-inline {
  list-style: none;
  padding-left: 0px;
}
  .list-inline li {
    display: inline;
    padding: 0px 8px;
  }
